@import "../../styles/tokens.scss";

.hero {
  background: url('../../assets/img/image-02.jpg') left/cover no-repeat;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 128px;
    padding-right: calc(40% + 32px);
    color: $color-neutral-10;

    @media (max-width: $max-tablet) {
      padding: 96px calc(30% + 32px) 96px 32px;
    }
    @media (max-width: $max-mobile) {
      padding: 72px 16px;
    }    
  }
  & p {
    text-shadow: #F5F5F7 0 0 8px, #F5F5F7 0 0 8px, #F5F5F7 0 0 8px, #F5F5F7 0 0 8px, #F5F5F7 0 0 8px, #F5F5F7 0 0 8px;
  }
}

.resp {
  &__title {
    margin-bottom: 16px;
  }
  &__text {
    margin-top: 12px;
  }
}

.mentors {
  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 48px;
    row-gap: 12px;
    margin-top: 16px;
  }
}

.school {
  background: $color-neutral-90;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 32px;
    background: url('../../assets/img/image-08.png') 50%/cover no-repeat;    
  }
  &__link {
    width: 336px;
    height: 120px;
  }
  & svg {
    width: 100%;
    height: 100%;
    fill: $color-white;
    filter: drop-shadow(0px 0px 16px rgba(125, 137, 117, 0.25));

    &:hover {
      filter: drop-shadow(0px 0px 16px rgba(66, 121, 17, 0.40));
    }
  }
}

.members{
  background: url('../../assets/img/image-05.png') 50%/cover no-repeat;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__list {
    display: flex;
    gap: 16px;
    @media (max-width: $max-mobile) {
      flex-direction: column;
    }
  }
}

.member {
  flex: 1 1 33.333%;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 0px 16px 0px rgba(125, 137, 117, 0.25);
  background: $color-white;

  &__photo {
    width: 100%;
    min-height: 320px;
    max-height: 384px;
    object-fit: cover;
  }
  &__header {
    color: $color-neutral-10;

  }
  &__name {
    margin: 24px 24px 0;
  }
  & .gh-link {
    margin: 0 24px;
    padding: 8px 0;
    justify-content: start;
    color: $color-neutral-30;
    & svg {
      fill: $color-neutral-30;
    }
  }
  &__text {
    margin: 8px 24px 24px;
    color: $color-neutral-30;
  } 
}
