@import "../../styles/tokens.scss";



.nav-link {
    padding: 8px 16px;
    cursor: pointer;

    &::after {
        display: flex;
        content: "";
        width: 0;
        height: 1px;
        background: $color-neutral-60;
        transition: all 0.3s;
    }


    &__text {
        position: relative;

        text-align: center;
        @include font-h6;
    }

    &_light {
        color: $color-neutral-100;
        &:hover::after {
            background: $color-neutral-100;
            width: 100%;
        }
        &.current::after {
            background: $color-neutral-100;
            width: 100%;
        }
    }

    &_dark {
        color: $color-neutral-10;
        &:hover::after {
            background: $color-neutral-10;
            width: 100%;
        }
        &.current::after {
            background: $color-neutral-10;
            width: 100%;
        }
    }


}
