@import '../../styles/tokens.scss';

.registration-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../assets/img/image-04.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 64px;
  min-height: calc(100vh - 200px);

  @media (max-width: $max-mobile) {
    padding: 16px;
  }
}

.hidden {
  display: none !important;
}

.registration-errors {
  color: $color-secondary-40;
}

.errors-header {
  font-size: 24px;
  line-height: 30px;
}

.registration-success {
  font-size: 32px;
  color: $color-primary-60;
  line-height: 40px;
}