@import "../../styles/tokens.scss";

.login-page {

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("../../assets/img/image-04.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        padding: 64px;
        min-height: 798px;
    }

    &__form-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 640px;
        height: 461px;
        padding: 16px 32px 32px 32px;
        gap: 32px;
        border-radius: 32px;
        background-color: $color-neutral-100;
        overflow: hidden;
        z-index: 0;
    }
}

.form-wrapper__image {
    position: absolute;
    background: url('../../assets/img/image-05.png') no-repeat;
    background-position: right;
    background-size: 100% 100%;
    background-size: cover;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.login__menu {
    justify-content: space-around;

    & >* {
        flex: 0 1 50%;
    }
}

@media (max-width: $max-tablet) {
    .login-page__wrapper {
        padding: 32px;
    }
}
@media (max-width: $max-mobile) {
    .login-page__form-wrapper {
        padding: 16px 16px 32px 16px;
    }
    .login-page__wrapper {
        padding: 16px;
    } 
    .form-wrapper__image {
        left: 40%;
    }
}
