@import "../../styles/tokens.scss";

.input {
  position: relative;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid $color-neutral-60;
  background: $color-white;
  color: $color-neutral-10;
  &::placeholder {
    color: $color-neutral-60;
  }
  &:focus {
    outline: none;
    border-color: $color-primary-60;
  } 
  &_invalid {
    color: $color-secondary-40 !important;
    border-color: $color-secondary-40 !important;
  }
}