@import "../../styles/tokens.scss";

.cart-item {
  position: relative;
  display: flex;
  padding: 16px 0px;
  align-items: center;
  border-bottom: 1px solid $color-neutral-90;

& .cic-bar {
    flex: 0 0 144px;
    &__display {
      padding: 0 16px;
    }

    @media (max-width: $max-mobile) {
      flex-grow: 1;
      min-width: 70%;
    }
  }
  
&__img-wrap {
  flex: 0 0 112px;
  padding: 8px 16px;

  @media (max-width: $max-mobile) {
    flex: 0 0 48px;
    padding: 0;
  }
}

&__img {
  display: block;
  width: 100%;
  min-width: 40px;
  height: 80px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 32px;
}

&__text {
  flex-grow: 1;
  min-width: 160px;
  padding: 8px 16px;

  @media (max-width: $max-mobile) {
    min-width: 144px;
    max-width: calc(100% - 48px - 72px);
  }
}

&__attrs {
  display: flex;
  gap: 8px;
  color: $color-neutral-60;
  @include font-overline;
}

&__name {
  color: $color-neutral-10;
  @include font-h5;
}

&__prices {
  flex: 0 0 96px;
  padding: 8px 32px 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;

  text-overflow: ellipsis;
  color: $color-neutral-10;

  @media (max-width: $max-mobile) {
    flex: 0 0 72px;
    padding: 8px 0;
  }
}

&__discounted {
  text-decoration: line-through;
  color: $color-neutral-60;
}

&__total {
  flex: 0 0 96px;
  padding: 8px 16px;
  color: $color-neutral-10;
  text-align: right;
  p {
    @include font-text-bold;
  }

  @media (max-width: $max-mobile) {
    flex: 0 0 72px;
    padding: 8px 0;
  }
}

&__delete {
  width: 40px;
  height: 40px;
  
  @media (max-width: $max-mobile) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

  @media (max-width: $max-mobile) {
    flex-wrap: wrap;
    row-gap: 16px;
  }
}
