@import "../../styles/tokens.scss";

$card-transform: all 0.2s ease-out;

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 240px;
  max-width: 480px;
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
  background-color: $color-white;
  transition: $card-transform;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 16px 0px rgba(125, 137, 117, 0.25);

    & .product-card__description {
      transform: scaleY(1);
      height: 32px;
    }
  }

  &__img {
    flex-grow: 1;
  }

  &__age {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
    padding: 4px 8px;
    border-radius: 8px;
    color: $color-white;
    @include font-overline;
    &_seed {
      background-color: $color-secondary-60;
    }
    &_baby {
      background-color: $color-primary-60;
    }
    &_adult {
      background-color: $color-neutral-60;
    }
  }

  &__button-bar {
    display: flex;
    margin: 0 8px 8px;

    & > .button {
      flex-grow: 1;
    }
  }

  &__header {
    display: flex;
    margin: 16px 8px 0;
  }
  &__titles-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__name {
    color: $color-neutral-10;
    @include font-text;
  }
  &__category {
    color: $color-neutral-90;
    @include font-overline;
  }
  &__price {
    position: relative;
    display: flex;
    align-items: last baseline;
    color: $color-neutral-10;

    &_sale {
      position: absolute;
      top: -40px;
      right: 0;
      height: 48px;
      padding: 0 8px 4px;
      border-radius: 40px;
      background-color: $color-secondary-40;
      color: $color-secondary-100;

      &::after {
        content: '';
        position: absolute;
        bottom: -20px;
        width: 100%;
        height: 1px;
        background-color: $color-secondary-40;
      }
    }
  }
  &__currency {
    @include font-h5;
  }
  &__int {
    @include font-h3;
  }
  &__dec {
    @include font-h5;
  }

  &__description {
    display: -webkit-box;
    margin: 8px 8px 16px;
    color: $color-neutral-60;
    @include font-caption;  
    
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 0px;
    transform: scaleY(0);
    
    transition: $card-transform;
  }
}
