@import "../../styles/tokens.scss";

.login-page {

    &__wrapper {
        display: flex;
        justify-content: center;
        background: url("../../assets/img/image-04.jpg") no-repeat;
        background-size: cover;
        padding: 64px;
        max-height: 670px;
    }

    &__form-wrapper {
        display: flex;
        padding: 16px 32px 32px 32px;
        flex-direction: column;
        //align-items: center;
        width: 640px;
        padding: 16px 32px 32px 32px;
        gap: 32px;
       // align-self: stretch;
        border-radius: 32px;
    }

    &__form-wrapper {
        background-color: $color-neutral-100;
    }


}

.login__menu {
    justify-content: space-around;
}