@import '../../styles/tokens.scss';

.button {
  padding: 8px 24px;
  text-align: center;
  border-radius: 12px;
  @include font-text;
  cursor: pointer;
  
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &_filled {
    background-color: $color-primary-60;
    color: $color-primary-100;
    border: none;

    &:hover {
      box-shadow: 0px 0px 32px 0px $color-primary-98 inset;
    }
  }

  &_bordered {
    background-color: rgba(255, 255, 255, 0.01);
    color: $color-primary-40;
    border: 1px solid $color-neutral-60;

    &:hover {
      box-shadow: 0px 0px 32px 0px $color-primary-98 inset;
    }
  }

  &_text {
    color: $color-neutral-30;
    border: none;

    &:hover {
      box-shadow: 0px 0px 16px 0px $color-primary-40;
    }
  }
}



