@import "../../styles/tokens.scss";

.cic-bar {
  flex-grow: 1;
  display: flex;

  & > .button {
    padding: 8px;
    width: 40px;
  }

  &__inc {
    border-radius: 0 12px 12px 0;
  }

  &__dec {
    border-radius: 12px 0 0 12px;
  }

  &__display {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    border-top: solid 1px $color-neutral-60;
    border-bottom: solid 1px $color-neutral-60;
    color: $color-neutral-10;
    cursor: default;
  }
}
