@import "../../styles/tokens.scss";

.select {
  padding: 8px 16px;
  border-radius: 12px;
  border: 1px solid $color-neutral-60;
  background: $color-white;
  color: $color-neutral-10;
  width: 100%;
  cursor: pointer;
  &::placeholder {
    color: $color-neutral-60;
  }
  &:focus {
    outline: none;
    border-color: $color-primary-60;
  } 
  &_invalid {
    color: $color-secondary-40;
    border-color: $color-secondary-40;
  }
}