@import "../../../styles/tokens.scss";

.eye-button {
    position: absolute;
    left: 85%; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 1.5%; 
}

@media (max-width: $max-tablet) {
    .eye-button {
        left: 85%; 
        margin-top: 1.7%; 
    }
}

@media (max-width: $max-mobile) {
    .eye-button {
        left: 79%; 
        margin-top: 2%; 
    }
}