@import "../../styles/tokens.scss";

.chips {
  flex-grow: 1;
  display: flex;
  align-items: center;
  background: $color-white;
  height: 48px;
  min-width: 160px;
  max-width: 400px;
  border-radius: 24px;
  color: $color-neutral-10;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 32px 0px $color-primary-98 inset;    
  }
  &_active {
    color: $color-white;
    background: $color-primary-80;
  }

  &__img {
    height: 48px;
    width: 48px;
    object-fit: contain;
    background: url('../../assets/img/cat-blob.png') 50%/contain no-repeat;
  }

  &__text {
    flex-grow: 1;
    padding: 8px;
    @include font-overline;
    text-align: center;
    &_left {
      text-align: left;
    }
  }
}