@import "../../styles/tokens.scss";

.cart {
  min-height: calc(100vh - 80px);
  background: $color-neutral-90 url('../../assets/img/image-06.png') 50%/cover no-repeat;

  &__wrapper {
    padding-top: 72px;
    display: flex;
    gap: 32px
  }

  &__my-cart {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 32px;
    background: $color-neutral-100;

    &_empty {
      min-height: calc(100vh - 80px - 144px);
    }
  }

  &__summary {
    width: 464px;
    padding: 24px 16px 16px;
    border-radius: 24px;
    background: $color-white;
  }
}

.my-cart {
  &__header {
    display: flex;
    align-items: center;
  }
  &__title {
    flex-grow: 1;
    color: $color-neutral-10;
  }
}

.summary {
  &__header {
    color: $color-neutral-10;
  }
}

.my-cart__list-header {
  display: flex;
  padding-top: 16px;
  border-bottom: 1px solid $color-neutral-90;

  p {
    padding: 8px 16px;
    @include font-text-bold;
    color: $color-neutral-60;
  }

  .header-plant {
    flex-basis: 472px;
  }

  .header-price {
    flex-basis: 112px;
  }

  .header-count {
    text-align: center;
    flex-basis: 192px;
  }

  .header-total {
    text-align: end;
    flex-basis: 144px;
  }

  @media (max-width: $max-mobile) {
    display: none;
  }
}

.empty-cart {
  align-self: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
  max-width: 700px;

  &__title {
    color: $color-neutral-60;
    text-align: center;
  }
  &__message {
    color: $color-neutral-30;
    text-align: center;
    margin-bottom: 32px;
  }
}

.summary__inner {
  display: flex;
  flex-direction: column;
}

.summary__promo {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 16px;
  padding: 24px 0;

  .label {
    color: $color-neutral-60;
  }

  input {
    line-height: 24px;
  }

  .button {
    margin-bottom: 17px;
  }
}

.hidden {
  display: none !important;
}

.subtotal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
  border-top: 1px solid $color-neutral-60;
  color: $color-neutral-60;
}

.subtotal__price,
.subtotal__promo {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.subtotal__price-title {
  @include font-h5;
}

.subtotal__price-value {
  @include font-h6;
}

.subtotal__promo-value {
  @include font-text-bold; 
}

.summary__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px 32px;
  border-top: 1px solid $color-neutral-60;
  color: $color-neutral-10;
}

.summary__total-title {
  @include font-h5;
}

.summary__total-value {
  @include font-h6;
}

.popup-clear-cart-text {
  color: $color-neutral-30;
  @include font-text-bold;
}

@media (max-width: $max-tablet) {
  .cart {
    &__wrapper {
      padding: 32px;
      flex-direction: column;
      align-items: end;
      gap: 16px;
    }

    &__my-cart {
      width: 100%;
      &_empty {
        min-height: calc(100vh - 80px - 64px);      
      }
    }
  }
}

@media (max-width: $max-mobile) {
  .cart {
    &__wrapper {
      padding: 16px;
    }

    &__my-cart {
      &_empty {
        min-height: calc(100vh - 80px - 32px);      
      }
    }

    &__summary {
      width: 100%;
    }
  }

  .empty-cart {
    max-width: 400px;
    &__title {
      @include font-h4;
    }
    &__message {
      @include font-text;
    }
  }
}
