@import "../../styles/tokens.scss";

.breadcrumbs {
  display: flex;
  gap: 8px;
  & > * {
    @include font-overline;
  }
  &__link {
    color: $color-neutral-60;
    &_active {
      color: $color-primary-60;
    }
  }
  &__separator {
    color: $color-primary-60;
  }
}
